@import '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import '//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.4/css/flag-icon.min.css';

.flag {
    width: 16px;
    height: 16px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.flag > span {
    display: block;
    margin-left: -3px;
}

/*html, body {
    color: #333534;
    background-color:#e7f1f5;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

header {
    background-color:white;
    font-family: "Segoe UI Light", Helvetica, Arial, sans-serif;
    text-align:center;
    padding: 10px 10px 15px 10px;
}

.online header {
    background-color:#e7f1f5;
}

body.online {
    background-color: white;
}

h1, h2, h3 {
    margin:0;
    font-weight: normal;
}

.offline h1:after {
    background-color: #E81123;
}

.away h1:after {
    background-color: #FCD116;
}

.online h1:after {
    background-color: #7FBA00;
}

header h1:after {
    content: '\2714';
    font-size: 1rem;
    line-height: 1rem;
    display: inline-block;
    text-align:center;
    min-width: 1rem;
    font-family: serif;
    border-radius: 50%;
    border: 2px solid white;
    color:white;
    transform: translateX(-50%) translateY(50%);
    vertical-align: middle;
}

header button {
    position: absolute;
    left: 10px;
    top: 20px;
}

button, input[type="submit"] {
    background-color: #7FBA01;
    border: 2px solid rgba(0, 0, 0, 0);
    color: white;
    margin: 0;
    padding: 0 1em;
    font-family: Arial;
    font-size: 1rem;
    line-height: 1.6;
    border-radius: 1.3em;
    outline:0;
}

button:hover, input[type="submit"]:hover {
    box-shadow: 0 0 0 2px #7FBA01;
}

form {
    background-color: white;
    padding: 20px;
    margin: 40px auto;
    max-width: 400px;
}

form label {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 14px;
    padding-bottom: 6px;
}

form label:first-child {
    margin-top: 0;
}

form input[type="text"],
form input[type="number"] {
    padding: 3px 10px 5px 10px;
    margin: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border:1px solid #00AFF0;
    margin-bottom: 10px;
    outline: 0;
}

form input[type="text"]:hover,
form input[type="text"]:focus,
form input[type="text"]:active,
form input[type="number"]:hover,
form input[type="number"]:focus,
form input[type="number"]:active {
    box-shadow: 0 0 0 1px #00AFF0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input[type="submit"] {
    margin-top: 22px;
}


.icons {
    position:relative;
    width:96px;
    height:96px;
}

.icons > img {
    display: block;
    border-radius: 50%;
}






.users, .users > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.users {
    max-width: 500px;
    margin: 0 auto;
}

.users > li {
    padding: 10px;
}

.users h2 {
    white-space: nowrap;
    overflow: hidden;
    max-width: 340px;
    text-overflow: ellipsis;
}
*/
